<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>{% block title %} | Criar Acompanhamento | {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    {% load static %}
    {% load user_groups %}
</head>

<body>
    {% include 'components/_header.html' %}

    <style>
        body {
            max-width: 100%;
            overflow-x: hidden;
            background: #45494E;
        }

        .expedicao-title,
        .expedicao-sub-title  {
            /* font-size: 2.5rem; */
            font-weight: 700;
            color: white;
        }

        .expedicao-title i{
            color: #bfa16c;
        }

        .content-form {
            background: #ffffff;
            border: 2px solid #bfa16c;
            border-radius: 16px;
            padding: 1.5rem;
            box-shadow: 0 4px 20px rgba(191, 161, 108, 0.15);
            transition: all 0.3s ease;
        }
    </style>

    <div class="container mt-3 text-center">
        <div class="row">
            <div class="col-12">
                <h1 class="expedicao-title">
                    <i class="bi bi-people-fill"></i>
                    {% if object %}
                        Editar Acompanhamento
                    {% else %}
                        Criar Acompanhamento
                    {% endif %}
                </h1>

                <p class="expedicao-sub-title">
                    {% if object %}
                        Atualize as informações do acompanhamento
                    {% else %}
                        Registre um novo acompanhamento
                    {% endif %}
                </p>
            </div>
        </div>
    </div>

    <!-- Form Novo Acompanhamento -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="content-form">
                     <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <!-- Informações Iniciais -->
                        <div class="row">
                            <p>Informações Iniciais</p>
                            <hr>
                            <div class="col-12 col-md-3">
                                {{ form.franquia }}
                            </div>
                            <div class="col-12 col-md-3">
                                {{ form.cliente }}
                            </div>
                            <div class="col-12 col-md-3">
                                {{ form.origem }}
                            </div>
                            <div class="col-12 col-md-3">
                                {{ form.destino }}
                            </div>
                        </div>

                        <!-- Informações Agente/Motorista -->
                        <div class="row mt-4">
                            <p>Informações de Agente / Motorista</p>
                            <hr>
                            <div class="col-12 col-md-4">
                                {{ form.responsavel_agente }}
                            </div>
                            <div class="col-12 col-md-4">
                                {{ form.agente }}
                            </div>
                            <div class="col-12 col-md-4">
                                {{ form.placa_agente }}
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12 col-md-6">
                                {{ form.motorista }}
                            </div>
                            <div class="col-12 col-md-6">
                                {{ form.placa_motorista }}
                            </div>
                        </div>

                        <!-- Datas e Horários -->
                        <div class="row mt-4">
                            <p>Horários / Datas</p>
                            <hr>
                            <div class="col-12 col-md-2">
                                <label for="data_solicitada">Data Solicitada</label>
                                {{ form.data_solicitada }}
                            </div>
                            <div class="col-12 col-md-2">
                                <label for="horario_solicitado">Horário Solicitado</label>
                                {{ form.horario_solicitado }}
                            </div>
                            <div class="col-12 col-md-2">
                                <label for="data_inicial">Data Inicial</label>
                                {{ form.data_inicial }}
                            </div>
                            <div class="col-12 col-md-2">
                                <label for="horario_inicio">Horário Início</label>
                                {{ form.horario_inicio }}
                            </div>
                            <div class="col-12 col-md-2">
                                <label for="data_final">Data Final</label>
                                {{ form.data_final }}
                            </div>
                            <div class="col-12 col-md-2">
                                <label for="horario_finalizacao">Horário Finalizado</label>
                                {{ form.horario_finalizacao }}
                            </div>
                        </div>

                        <!-- Quilometragem -->
                        <div class="row mt-3">
                            <div class="col-12 col-md-3">
                                <label for="horario_total">Horário Total</label>
                                {{ form.horario_total }}
                            </div>
                            <div class="col-12 col-md-3">
                                <label for="km_inicio">KM Início</label>
                                {{ form.km_inicio }}
                            </div>
                            <div class="col-12 col-md-3">
                                <label for="km_final">KM Final</label>
                                {{ form.km_final }}
                            </div>
                            <div class="col-12 col-md-3">
                                <label for="km_total">KM Total</label>
                                {{ form.km_total }}
                            </div>
                            <div class="col-12 col-md-3 mt-2">
                                <label for="km_total">Pedágio</label>
                                {{ form.pedagio }}
                            </div>
                        </div>

                        <!-- Ocorrência -->
                        <div class="row mt-3">
                            <div class="col-12">
                                {{ form.ocorrencia }}
                            </div>
                        </div>

                        <!-- Botões -->
                        <div class="row mt-4 text-center">
                            <div class="col-12 col-md-6">
                                <button type="submit" class="btn btn-primary">
                                    {% if object %}
                                        Atualizar Acompanhamento
                                    {% else %}
                                        Salvar Acompanhamento
                                    {% endif %}
                                </button>
                            </div>
                            <div class="col-12 col-md-6">
                                <a href="{% url 'acompanhamentoList' %}" class="btn btn-secondary">
                                    Cancelar
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Form Novo Acompanhamento -->

<script>
    document.addEventListener("DOMContentLoaded", function () {
    const kmInicio = document.getElementById("km_inicio");
    const kmFinal = document.getElementById("km_final");
    const kmTotal = document.getElementById("km_total");

    function calcularKmTotal() {
        const inicio = parseInt(kmInicio.value) || 0;
        const fim = parseInt(kmFinal.value) || 0;

        if (fim >= inicio) {
            kmTotal.value = fim - inicio;
        } else {
            kmTotal.value = "";
        }
    }

    kmInicio.addEventListener("input", calcularKmTotal);
    kmFinal.addEventListener("input", calcularKmTotal);
});
</script>

<script>
document.addEventListener("DOMContentLoaded", function () {

    const dataInicio = document.getElementById("id_data_inicial");
    const horaInicio = document.getElementById("id_horario_inicio");

    const dataFinal = document.getElementById("id_data_final");
    const horaFinal = document.getElementById("id_horario_finalizacao");

    const horarioTotal = document.getElementById("id_horario_total");

    function calcularHorarioTotal() {

        if (!dataInicio.value || !horaInicio.value || !dataFinal.value || !horaFinal.value) {
            horarioTotal.value = "";
            return;
        }

        const inicioDateTime = new Date(`${dataInicio.value}T${horaInicio.value}`);
        const fimDateTime = new Date(`${dataFinal.value}T${horaFinal.value}`);

        if (fimDateTime < inicioDateTime) {
            horarioTotal.value = "";
            return;
        }

        const diffMs = fimDateTime - inicioDateTime;

        const totalSegundos = Math.floor(diffMs / 1000);

        const horas = Math.floor(totalSegundos / 3600);
        const minutos = Math.floor((totalSegundos % 3600) / 60);
        const segundos = totalSegundos % 60;

        horarioTotal.value =
            String(horas).padStart(2, "0") + ":" +
            String(minutos).padStart(2, "0") + ":" +
            String(segundos).padStart(2, "0");
    }


    dataInicio.addEventListener("change", calcularHorarioTotal);
    horaInicio.addEventListener("change", calcularHorarioTotal);
    dataFinal.addEventListener("change", calcularHorarioTotal);
    horaFinal.addEventListener("change", calcularHorarioTotal);
});
</script>



</body>

</html>