{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <h3 class="display-6">Detalhes</h3>

    <div class="card">
        <div class="card-body">
            <h3 class="card-title"><strong>Nome:</strong> {{ registrodemanutencao_detail.nome }}</h3> 
            <p class="card-text"><strong>Tipo de Entrada:</strong> {{ registrodemanutencao_detail.tipo_entrada }}</p> 
            <p class="card-text"><strong>Motivo:</strong> {{ registrodemanutencao_detail.motivo }}</p> 
            <p class="card-text"><strong>Tipo Customização:</strong> {{ registrodemanutencao_detail.tipo_customizacao }}</p> 
            <p class="card-text"><strong>Recebimento:</strong> {{ registrodemanutencao_detail.recebimento }}</p> 
            <p class="card-text"><strong>Entregue por:</strong> {{ registrodemanutencao_detail.entregue_por_retirado_por }}</p> 
            <p class="card-text"><strong>ID Equipamentos:</strong> {{ registrodemanutencao_detail.id_equipamentos }}</p> 
            <p class="card-text"><strong>Faturamento:</strong> {{ registrodemanutencao_detail.faturamento }}</p> 
            <p class="card-text"><strong>Setor:</strong> {{ registrodemanutencao_detail.setor }}</p> 
            <p class="card-text mb-1"><strong>Equipamentos ({{ registrodemanutencao_detail.quantidade|default:0 }}):</strong></p>
            {% include 'partials/_itens_entrada.html' with registro=registrodemanutencao_detail %}
            <p class="card-text"><strong>Tratativa:</strong> {{ registrodemanutencao_detail.tratativa }}</strong></p> 
            <p class="card-text"><strong>Status:</strong> {{ registrodemanutencao_detail.status }}</p>
        </div>

            {% if registrodemanutencao_detail.arquivo %}
                <a href="{{ registrodemanutencao_detail.arquivo.url }}" class="btn btn-primary" download>{{ registrodemanutencao_detail.arquivo.name }}</a>
            {% else %}
               
            {% endif %}

            {% if registrodemanutencao_detail.imagem %}
                <p><img src="{{ registrodemanutencao_detail.imagem.url }}" alt="Descrição da imagem" width="450"></p>
            {% endif %}
            {% for imagem in registrodemanutencao_detail.imagens.all %}
    
    <p>ID: {{ imagem.descricao }}</p>
    <p>Tipo de Problema: {{ imagem.tipo_problema }}</p>
   


            
                <img src="{{ imagem.imagem.url }}" alt="Descrição da imagem" style="width: 500px; height: 250px;" />
            
            {% endfor %}
        </div>
    </div>

    <div>
        <a href="{% url 'entradasListView' %}" class="btn btn-secondary mt-3">Voltar</a>
    </div>

</div>

{% endblock %}
